{% extends "_layouts/base.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="css/login.css">
{% endblock %}

{% block content %}
  <div class="content">
    <div class="signin-card">
      <h1 class="display1">Administrator</h1>
      <p class="subhead">Please provide admin user details.</p>
      <form action="/setup" method="post">
        <div class="mat-in">
          <input type="text" name="firstName" value="" required></input>
          <span class="bar"></span>
          <label>First Name</label>
        </div>
        <div class="mat-in">
          <input type="text" name="lastName" value="" required></input>
          <span class="bar"></span>
          <label>Last Name</label>
        </div>
        <div class="mat-in">
          <input type="text" name="email" value="" required></input>
          <span class="bar"></span>
          <label>Email</label>
        </div>
        <div class="mat-in">
          <input type="password" name="password" value="" required></input>
          <span class="bar"></span>
          <label>Password</label>
        </div>
        <div class="mat-in">
          <input type="password" name="passwordConfirm" value="" required></input>
          <span class="bar"></span>
          <label>Confirm password</label>
        </div>
        <!--<p class=error>Error, wrong username or password used. Please, try again.</p>-->
        <div>
          <button class="btn btn-block btn-info ripple-effect" type="submit" name="Submit" alt="sign in" id="login">Sign in</button>  
        </div>
      </form>
    </div>
  </div>

  <div class="bg-boxes">
    		<svg width="300px" height="100%" id="col1">
      <rect width="150px" height="150px" x="75px" y="75px" class="bubble" id="bub1" />
    </svg>
    <svg width="200px" height="100%" id="col2">
      <rect width="100px" height="100px" x="50px" y="50px" class="bubble" id="bub2" />
    </svg>
    <svg width="260px" height="100%" id="col3">
        <rect width="130px" height="130px" x="65px" y="65px" class="bubble" id="bub3" />
    </svg>
    <svg width="160px" height="100%" id="col4">
        <rect width="80px" height="80px" x="40px" y="40px" class="bubble" id="bub4" />
    </svg>
    <svg width="240px" height="100%" id="col5">
        <rect width="120px" height="120px" x="60px" y="60px" class="bubble" id="bub5" />
    </svg>
    <!--Here is a triangle-->
    <svg width="200px" height="100%" id="col6">
        <polygon points="50,150 100,50 150,150" class="bubble" id="bub6" />
    </svg>
    <svg width="200px" height="100%" id="col7">
        <rect width="100px" height="100px" x="50px" y="50px" class="bubble" id="bub7" />
    </svg>
    <svg width="200px" height="100%" id="col8">
        <rect width="100px" height="100px" x="50px" y="50px" class="bubble" id="bub8" />
    </svg>
    <svg width="200px" height="100%" id="col9">
        <rect width="100px" height="100px" x="50px" y="50px" class="bubble" id="bub9" />
    </svg>
    <svg width="200px" height="100%" id="col10">
        <rect width="100px" height="100px" x="50px" y="50px" class="bubble" id="bub10" />
    </svg>
    <svg width="100px" height="100%" id="col11">
        <rect width="50px" height="50px" x="25px" y="25px" class="bubble" id="bub11" />
    </svg>
  </div>
{% endblock %}


